.users-roles-page {
  .module-edit-card {

  }
  .module-view-card {
    
  }
  .table-item-wrapper {
    display: inline-flex;
    flex-wrap: wrap;
    div {
      margin: 2px;
      height: 100%;
    }
  }
}